# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Flutter/Dart/Pub related
.dart_tool/
.packages
build/
.pub/
.metadata
.flutter-plugins-dependencies
pubspec.lock
# IDEs
.idea/
.vscode/
*.iml
# iOS
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/App.framework
ios/
# Android
android/.gradle/
android/app/build/
android/.kotlin/

# Exclude any JDK/JRE folders
**/lib/Oracle_JDK-*/
**/jdk/>
**/jre/>

# Optional/Editor/OS/Temp files
.env
*.tmp
*.bak
*.orig
Thumbs.db
*.sublime-workspace
*.sublime-project
