<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:label="Grocery Guardian (Debug)"
        tools:replace="android:label">
        <!-- You can add debug-specific activities or meta-data here -->
    </application>
</manifest>
