name: Flutter CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.32.4'

      - name: Clean build folder
        run: flutter clean

      - name: Install dependencies
        run: flutter pub get

      - name: Analyze
        run: flutter analyze

      - name: Run tests
        run: flutter test

      - name: Build APK (OSS flavor)
        run: flutter build apk --release --flavor oss

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-oss-release.apk
          path: build/app/outputs/flutter-apk/app-oss-release.apk